.sidebar-text, .sidebar-text:hover, .sidebar-text:focus {
    color: #fff; /* White text */
    text-decoration: none;
    transition: all 0.3s;
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #4169E1; /* Blue background */
    color: #fff; /* White text */
    transition: all 0.3s;
}

.sidebar.active {
    margin-left: -250px;  /* Hide sidebar when active (on smaller screens) */
}

.sidebar-header {
    padding: 20px;
    background: #4169E1; /* Blue background */
}

.sidebar-components {
    padding: 20px 0;
    border-bottom: 1px solid #007bff; /* Slightly lighter blue border */
}

.sidebar-paragraph {  /* Additional white text definition to override any conflicting styles */
    color: #fff; 
    padding: 10px;
}

/* Dropdown arrow styles (you might need to adjust based on your dropdown setup) */
.dropdown-toggle::after { 
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff; /* White dropdown arrow */
}

a.right-arrow[data-toggle="collapse"] {
    position: relative;
}

.sidebar-button {  /* Main sidebar links/buttons */
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff; /* White text */
}

.sidebar-button:hover {  /* Hover effect for sidebar buttons */
    color: #007bff; /* Blue text on hover */
    background: #fff; /* White background on hover */
}

.sidebar-subitem { /* Sub-menu items under dropdown */
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #007bff; /* Lighter blue for sub-items */
    color: #fff; /* White text */
}





ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.nav-button {
    background: #fff;
    color: #4F102B;
}

.bottomleft {
    bottom: 0;
    position: absolute;
    min-width: 250px;
    max-width: 250px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}